/*
RED: #993d3d
BLUE: #294767
GREEN: #5c7738
LIGHT GREEN: #78a04d
*/

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #bcccdc;
	background-image:url('img/capitol2-blur.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: scroll;
	background-size: cover;
	margin-bottom: 65px;
}

#main {
	margin-top: 10px;
	margin-bottom: 20px;
}

#content {
	padding-top: 10px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: #ffffff;
	color: #666666;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#footer a:link,
#footer a:visited, 
#footer a:hover {
    text-decoration: none;
    color: #666666;
    border-bottom: 1px dotted;
}

#footer .fa {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#footer small {
	margin-top: 5px;
}

#hb {
	width: 25px;
	height: 25px;
}

.section {
	padding-top: 4px;
	padding-bottom: 20px;
}

body p {
	text-align: left;
	text-indent: 0px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	text-align: center;
}

.btn-fart {
	margin-bottom: 30px;
	color: #ffffff;
	background-color: #993d3d;
	border-color: #993d3d;
}

.btn-fart:hover,
.btn-fart:focus,
.btn-fart:active,
.btn-fart.active {
	color: #ffffff;
	background-color: #873636;
	border-color: #752e2e;
}

.btn-fart.disabled:hover,
.btn-fart.disabled:focus,
.btn-fart.disabled:active,
.btn-fart.disabled.active,
.btn-fart[disabled]:hover,
.btn-fart[disabled]:focus,
.btn-fart[disabled]:active,
.btn-fart[disabled].active,
fieldset[disabled] .btn-fart:hover,
fieldset[disabled] .btn-fart:focus,
fieldset[disabled] .btn-fart:active,
fieldset[disabled] .btn-fart.active {
	color: #ffffff;
	background-color: #993d3d;
	border-color: #993d3d;
}

.btn-fb {
	color: #ffffff;
	background-color: #3B5998;
	border-color: #3B5998;
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active,
.btn-fb.active {
	color: #ffffff;
	background-color: #344e86;
	border-color: #2d4373;
}

.btn-fb.disabled:hover,
.btn-fb.disabled:focus,
.btn-fb.disabled:active,
.btn-fb.disabled.active,
.btn-fb[disabled]:hover,
.btn-fb[disabled]:focus,
.btn-fb[disabled]:active,
.btn-fb[disabled].active,
fieldset[disabled] .btn-fb:hover,
fieldset[disabled] .btn-fb:focus,
fieldset[disabled] .btn-fb:active,
fieldset[disabled] .btn-fb.active {
	color: #ffffff;
	background-color: #3B5998;
	border-color: #3B5998;
}

.btn-tw {
	color: #ffffff;
	background-color: #4099FF;
	border-color: #4099FF;
}

.btn-tw:hover,
.btn-tw:focus,
.btn-tw:active,
.btn-tw.active {
	color: #ffffff;
	background-color: #278bff;
	border-color: #0d7eff;
}
.btn-tw.disabled:hover,
.btn-tw.disabled:focus,
.btn-tw.disabled:active,
.btn-tw.disabled.active,
.btn-tw[disabled]:hover,
.btn-tw[disabled]:focus,
.btn-tw[disabled]:active,
.btn-tw[disabled].active,
fieldset[disabled] .btn-tw:hover,
fieldset[disabled] .btn-tw:focus,
fieldset[disabled] .btn-tw:active,
fieldset[disabled] .btn-tw.active {
	color: #ffffff;
	background-color: #4099FF;
	border-color: #4099FF;
}

.btn-gh {
	color: #ffffff;
	background-color: #383838;
	border-color: #383838;
}

.btn-gh:hover,
.btn-gh:focus,
.btn-gh:active,
.btn-gh.active {
	color: #ffffff;
	background-color: #2b2b2b;
	border-color: #1f1f1f;
}

.btn-gh.disabled:hover,
.btn-gh.disabled:focus,
.btn-gh.disabled:active,
.btn-gh.disabled.active,
.btn-gh[disabled]:hover,
.btn-gh[disabled]:focus,
.btn-gh[disabled]:active,
.btn-gh[disabled].active,
fieldset[disabled] .btn-gh:hover,
fieldset[disabled] .btn-gh:focus,
fieldset[disabled] .btn-gh:active,
fieldset[disabled] .btn-gh.active {
	color: #ffffff;
	background-color: #383838;
	border-color: #383838;
}

#social .btn {
	margin-top: 20px;
}

.tooltip.in {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.tooltip-inner {
	font-size: 15px;
	max-width: 300px;
}

.app-icon {
	width: 125px;
	height: 125px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h1 {
	font-size: 46px;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 28px;
	line-height: 20px;
}

h5 {
	font-size: 16px;
	font-weight: normal;
}

h4 {
	margin-top: 0px;
	padding-top: 0px;
}

a {
	color: #223a55;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration:none;
}

a:link {
  	border-bottom: 1px #223a55 dotted;
}

a:hover,
#copyright > a:hover {
	color: #3d6a99;
}

@media (max-width: 480px) and (max-width: 568px) {
	#content {
		padding-top: 0px;
	}

	.btn-fart {
		margin-bottom: 20px;
	}

	h1 {
		font-size: 36px;
	}

	h5 {
		font-size: 14px;
	}

	body {
		background-position: center top;
	}
}
